[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic ="*"
Cerberus ="*"
boto3 ="*"
coverage="*"
pylint="*"
pylint-flask-sqlalchemy="*"
localstack="*"
marshmallow-sqlalchemy="*"
psycopg2-binary="*"
fastapi = "*"
python-dotenv = "*"
uvicorn = "*"
pytz = "*"
flasgger = "*"
factory_boy = "*"
SQLAlchemy-Utils = "*"
redis = "*"
celery = "*"
requests = "*"
pycryptodome = "*"
passlib = "*"
pyjwt = "*"


[requires]
python_version = "3.10"
